<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>977375213667-2eqeu2k59l12nctmvga9j6ein7jcvrbe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977375213667-2eqeu2k59l12nctmvga9j6ein7jcvrbe</string>
	<key>API_KEY</key>
	<string>AIzaSyDuTUwPp6dspGUz2tdToIo-WBYWK-ZUj4w</string>
	<key>GCM_SENDER_ID</key>
	<string>977375213667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authApp</string>
	<key>PROJECT_ID</key>
	<string>simpleloginandregisterapp</string>
	<key>STORAGE_BUCKET</key>
	<string>simpleloginandregisterapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:977375213667:ios:7dca13ffdad8cc3ac3e056</string>
</dict>
</plist>
